<%- include header %>
<% data.comments = data.comments || []; %>
	<div class="article-box">
	<% if( user && user.name === data.author){%>
	<p>
		<a href="/edit/<%= data.author %>/<%= data._id %>" class="edit">编辑</a>
		<a href="/remove/<%= data.author %>/<%= data._id %>" class="edit">删除</a>
	</p>
	<% } %>
	<h2><a href="#"><%= data.title %></a></h2>
	<p class="info">
		<span>作者：</span><a href="/u/<%= data.author %>"><%= data.author %></a> |
		<span>时间：</span><span><%= data.time.localString %></span> |
		<span>阅读：</span><em><%= data.pv || 0 %></em> |
		<span>留言：</span><em><%= data.comments.length || 0 %></em>
	</p>
	<p><%- data.article %></p>
	</div>
	
<%- include comment%>
<%- include footer %>